In [2]:
import pandas as pd
import re

df = pd.read_csv('pokemon_data.csv')
print(df.head(3))

   #       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
0  1  Bulbasaur  Grass  Poison  45      49       49       65       65     45
1  2    Ivysaur  Grass  Poison  60      62       63       80       80     60
2  3   Venusaur  Grass  Poison  80      82       83      100      100     80

   Generation  Legendary
0           1      False
1           1      False
2           1      False

In [3]:
print(df['Name'][1:10])
print(df.iloc[2, 3])

1                      Ivysaur
2                     Venusaur
3        VenusaurMega Venusaur
4                   Charmander
5                   Charmeleon
6                    Charizard
7    CharizardMega Charizard X
8    CharizardMega Charizard Y
9                     Squirtle
Name: Name, dtype: object
Poison

In [4]:
for index, row in df.iterrows():
    if index < 5:
        print(index, row['Name'])

0 Bulbasaur
1 Ivysaur
2 Venusaur
3 VenusaurMega Venusaur
4 Charmander

In [5]:
df.loc[(df['Type 1'] == 'Fire') & (df['Legendary'] == False)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
42,37,Vulpix,Fire,NaN,38,41,40,50,65,65,1,False
43,38,Ninetales,Fire,NaN,73,76,75,81,100,100,1,False
63,58,Growlithe,Fire,NaN,55,70,45,70,50,60,1,False
64,59,Arcanine,Fire,NaN,90,110,80,100,80,95,1,False
83,77,Ponyta,Fire,NaN,50,85,55,65,65,90,1,False
84,78,Rapidash,Fire,NaN,65,100,70,80,80,105,1,False
135,126,Magmar,Fire,NaN,65,95,57,100,85,93,1,False
147,136,Flareon,Fire,NaN,65,130,60,95,110,65,1,False
169,155,Cyndaquil,Fire,NaN,39,52,43,60,50,65,2,False
170,156,Quilava,Fire,NaN,58,64,58,80,65,80,2,False
171,157,Typhlosion,Fire,NaN,78,84,78,109,85,100,2,False
236,218,Slugma,Fire,NaN,40,40,40,70,40,20,2,False
237,219,Magcargo,Fire,Rock,50,50,120,80,80,30,2,False
259,240,Magby,Fire,NaN,45,75,37,70,55,83,2,False
276,255,Torchic,Fire,NaN,45,60,40,70,50,45,3,False
277,256,Combusken,Fire,Fighting,60,85,60,85,60,55,3,False
278,257,Blaziken,Fire,Fighting,80,120,70,110,70,80,3,False
279,257,BlazikenMega Blaziken,Fire,Fighting,80,160,80,130,80,100,3,False
352,322,Numel,Fire,Ground,60,60,40,65,45,35,3,False
353,323,Camerupt,Fire,Ground,70,100,70,105,75,40,3,False
354,323,CameruptMega Camerupt,Fire,Ground,70,120,100,145,105,20,3,False
355,324,Torkoal,Fire,NaN,70,85,140,85,70,20,3,False
435,390,Chimchar,Fire,NaN,44,58,44,58,44,61,4,False
436,391,Monferno,Fire,Fighting,64,78,52,78,52,81,4,False
437,392,Infernape,Fire,Fighting,76,104,71,104,71,108,4,False
518,467,Magmortar,Fire,NaN,75,95,67,125,95,83,4,False
557,498,Tepig,Fire,NaN,65,63,45,45,45,45,5,False
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False
559,500,Emboar,Fire,Fighting,110,123,65,100,65,65,5,False
572,513,Pansear,Fire,NaN,50,53,48,53,48,64,5,False
573,514,Simisear,Fire,NaN,75,98,63,98,63,101,5,False
614,554,Darumaka,Fire,NaN,70,90,45,15,45,50,5,False
615,555,DarmanitanStandard Mode,Fire,NaN,105,140,55,30,55,95,5,False
616,555,DarmanitanZen Mode,Fire,Psychic,105,30,105,140,105,55,5,False
692,631,Heatmor,Fire,NaN,85,97,66,105,66,65,5,False
721,653,Fennekin,Fire,NaN,40,45,40,62,60,60,6,False
722,654,Braixen,Fire,NaN,59,59,58,90,70,73,6,False
723,655,Delphox,Fire,Psychic,75,69,72,114,100,104,6,False
730,662,Fletchinder,Fire,Flying,62,73,55,56,52,84,6,False
731,663,Talonflame,Fire,Flying,78,81,71,74,69,126,6,False
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,6,False

In [6]:
df.sort_values('Name', ascending=False)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False

In [7]:
df.sort_values(['Type 1', 'Name'], ascending=[False, True])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
655,594,Alomomola,Water,NaN,165,75,80,40,45,65,5,False
199,184,Azumarill,Water,Fairy,100,50,80,60,80,50,2,False
371,339,Barboach,Water,Ground,50,48,43,46,41,60,3,False
610,550,Basculin,Water,NaN,70,92,65,80,55,98,5,False
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
459,413,WormadamSandy Cloak,Bug,Ground,60,79,105,59,85,36,4,False
460,413,WormadamTrash Cloak,Bug,Steel,60,69,95,69,95,36,4,False
288,265,Wurmple,Bug,NaN,45,45,35,20,30,20,3,False
208,193,Yanma,Bug,Flying,65,65,45,75,45,95,2,False
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False

In [8]:
df['Total'] = df['HP'] + df['Attack']

df.head(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,94
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,122
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,162

In [9]:
df['Total2'] = df.iloc[:, 4:10].sum(axis=1)

df.head(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total,Total2
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,94,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,122,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,162,525

In [10]:
cols = list(df.columns)
df2 = df[cols[0:4] + [cols[-2]] + cols[4:12]]

df2.head(3)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,94,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,122,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,162,80,82,83,100,100,80,1,False

In [11]:
df.to_csv('poke_2.csv', index=False)

In [12]:
df2 = df.loc[(df['Type 1'] == 'Fire') & (df['Legendary'] == False)]

df2.reset_index(drop=True, inplace=True)
df2.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total,Total2
0,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,91,309
1,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,122,405
2,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False,162,534
3,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,208,634
4,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,182,634

In [13]:
df3 = df.loc[df['Name'].str.contains('Mega')]
df3.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total,Total2
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,180,625
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,208,634
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,182,634
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False,182,630
19,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,1,False,215,495

In [14]:
df3 = df.loc[~df['Name'].str.contains('Mega')]
df3.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total,Total2
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,94,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,122,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,162,525
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,91,309
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,122,405

In [15]:
df4 = df.loc[df['Type 1'].str.contains('Grass|Water', regex=True)]
print(df4.head(5))

df5 = df.loc[df['Type 1'].str.contains('grass|water', flags=re.I, regex=True)]
print(df5.head(5))

df5 = df.loc[df['Name'].str.contains('^pi[a-z]*', flags=re.I, regex=True)]
df5.head(5)

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
9  7               Squirtle  Water     NaN  44      48       65       50

   Sp. Def  Speed  Generation  Legendary  Total  Total2
0       65     45           1      False     94     318
1       80     60           1      False    122     405
2      100     80           1      False    162     525
3      120     80           1      False    180     625
9       64     43           1      False     92     314
   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
9  7               Squirtle  Water     NaN  44      48       65       50

   Sp. Def  Speed  Generation  Legendary  Total  Total2
0       65     45           1      False     94     318
1       80     60           1      False    122     405
2      100     80           1      False    162     525
3      120     80           1      False    180     625
9       64     43           1      False     92     314

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total,Total2
20,16,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False,85,251
21,17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False,123,349
22,18,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,False,163,479
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False,163,579
30,25,Pikachu,Electric,NaN,35,55,40,50,50,90,1,False,90,320

In [16]:
df.loc[df['Type 1'] == 'Normal', 'Type 1'] = 'aNormal'
df.head(25)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total,Total2
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,94,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,122,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,162,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,180,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,91,309
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,122,405
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False,162,534
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,208,634
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,182,634
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False,92,314
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False,122,405
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False,162,530
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False,182,630
13,10,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False,75,195
14,11,Metapod,Bug,NaN,50,20,55,25,25,30,1,False,70,205
15,12,Butterfree,Bug,Flying,60,45,50,90,80,70,1,False,105,395
16,13,Weedle,Bug,Poison,40,35,30,20,20,50,1,False,75,195
17,14,Kakuna,Bug,Poison,45,25,50,25,25,35,1,False,70,205
18,15,Beedrill,Bug,Poison,65,90,40,45,80,75,1,False,155,395
19,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,1,False,215,495
20,16,Pidgey,aNormal,Flying,40,45,40,35,35,56,1,False,85,251
21,17,Pidgeotto,aNormal,Flying,63,60,55,50,50,71,1,False,123,349
22,18,Pidgeot,aNormal,Flying,83,80,75,70,70,101,1,False,163,479
23,18,PidgeotMega Pidgeot,aNormal,Flying,83,80,80,135,80,121,1,False,163,579
24,19,Rattata,aNormal,NaN,30,56,35,25,35,72,1,False,86,253

In [18]:
df.loc[df['Type 1'] == 'aNormal', ['Type 2', 'HP']] = ['Some new type', '260978']
df.head(25)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total,Total2
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,94,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,122,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,162,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,180,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,91,309
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,122,405
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False,162,534
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,208,634
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,182,634
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False,92,314
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False,122,405
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False,162,530
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False,182,630
13,10,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False,75,195
14,11,Metapod,Bug,NaN,50,20,55,25,25,30,1,False,70,205
15,12,Butterfree,Bug,Flying,60,45,50,90,80,70,1,False,105,395
16,13,Weedle,Bug,Poison,40,35,30,20,20,50,1,False,75,195
17,14,Kakuna,Bug,Poison,45,25,50,25,25,35,1,False,70,205
18,15,Beedrill,Bug,Poison,65,90,40,45,80,75,1,False,155,395
19,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,1,False,215,495
20,16,Pidgey,aNormal,Some new type,260978,45,40,35,35,56,1,False,85,251
21,17,Pidgeotto,aNormal,Some new type,260978,60,55,50,50,71,1,False,123,349
22,18,Pidgeot,aNormal,Some new type,260978,80,75,70,70,101,1,False,163,479
23,18,PidgeotMega Pidgeot,aNormal,Some new type,260978,80,80,135,80,121,1,False,163,579
24,19,Rattata,aNormal,Some new type,260978,56,35,25,35,72,1,False,86,253

In [19]:
df = pd.read_csv('poke_2.csv')
df.head(25)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total,Total2
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,94,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,122,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,162,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,180,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,91,309
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,122,405
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False,162,534
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,208,634
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,182,634
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False,92,314
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False,122,405
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False,162,530
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False,182,630
13,10,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False,75,195
14,11,Metapod,Bug,NaN,50,20,55,25,25,30,1,False,70,205
15,12,Butterfree,Bug,Flying,60,45,50,90,80,70,1,False,105,395
16,13,Weedle,Bug,Poison,40,35,30,20,20,50,1,False,75,195
17,14,Kakuna,Bug,Poison,45,25,50,25,25,35,1,False,70,205
18,15,Beedrill,Bug,Poison,65,90,40,45,80,75,1,False,155,395
19,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,1,False,215,495
20,16,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False,85,251
21,17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False,123,349
22,18,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,False,163,479
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False,163,579
24,19,Rattata,Normal,NaN,30,56,35,25,35,72,1,False,86,253

In [21]:
df.groupby(['Type 1']).mean().sort_values('Defense', ascending=False)

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total,Total2
Type 1,,,,,,,,,,,
Steel,442.851852,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148,157.925926,487.703704
Rock,392.727273,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909,158.227273,453.750000
Dragon,474.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000,195.437500,550.531250
Ground,356.281250,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000,169.531250,437.500000
Ghost,486.500000,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500,138.218750,439.562500
Water,303.089286,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714,146.214286,430.455357
Ice,423.541667,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667,0.083333,144.750000,433.458333
Grass,344.871429,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143,0.042857,140.485714,421.142857
Bug,334.492754,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000,127.855072,378.927536
Dark,461.354839,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516,155.193548,445.741935
Poison,251.785714,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000,141.928571,399.142857
Fire,327.403846,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538,0.096154,154.673077,458.076923
Psychic,380.807018,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965,0.245614,142.087719,475.947368
Electric,363.500000,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909,128.886364,443.409091
Flying,677.750000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000,149.500000,485.000000
Fighting,363.851852,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000,166.629630,416.444444
Fairy,449.529412,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824,135.647059,413.176471
Normal,319.173469,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020,0.020408,150.744898,401.683673

In [ ]:
df.groupby(['Type 1', 'Type 2']).mean()

In [ ]:
for df in pd.read_csv('poke_2.csv', chunksize=5):
    print(df)

In [28]:
new_df = pd.DataFrame(columns=df.columns)

for df in pd.read_csv('poke_2.csv', chunksize=500):
    counts = df.groupby(['Type 1']).count()
    new_df = pd.concat([new_df, counts])

print(new_df)

           # Attack Defense Generation  HP Legendary Name Sp. Atk Sp. Def  \
Bug       47     47      47         47  47        47   47      47      47
Dark      13     13      13         13  13        13   13      13      13
Dragon    19     19      19         19  19        19   19      19      19
Electric  25     25      25         25  25        25   25      25      25
Fairy      7      7       7          7   7         7    7       7       7
Fighting  17     17      17         17  17        17   17      17      17
Fire      33     33      33         33  33        33   33      33      33
Ghost     14     14      14         14  14        14   14      14      14
Grass     42     42      42         42  42        42   42      42      42
Ground    19     19      19         19  19        19   19      19      19
Ice       13     13      13         13  13        13   13      13      13
Normal    71     71      71         71  71        71   71      71      71
Poison    20     20      20         20  20        20   20      20      20
Psychic   32     32      32         32  32        32   32      32      32
Rock      28     28      28         28  28        28   28      28      28
Steel     17     17      17         17  17        17   17      17      17
Water     83     83      83         83  83        83   83      83      83
Bug       22     22      22         22  22        22   22      22      22
Dark      18     18      18         18  18        18   18      18      18
Dragon    13     13      13         13  13        13   13      13      13
Electric  19     19      19         19  19        19   19      19      19
Fairy     10     10      10         10  10        10   10      10      10
Fighting  10     10      10         10  10        10   10      10      10
Fire      19     19      19         19  19        19   19      19      19
Flying     4      4       4          4   4         4    4       4       4
Ghost     18     18      18         18  18        18   18      18      18
Grass     28     28      28         28  28        28   28      28      28
Ground    13     13      13         13  13        13   13      13      13
Ice       11     11      11         11  11        11   11      11      11
Normal    27     27      27         27  27        27   27      27      27
Poison     8      8       8          8   8         8    8       8       8
Psychic   25     25      25         25  25        25   25      25      25
Rock      16     16      16         16  16        16   16      16      16
Steel     10     10      10         10  10        10   10      10      10
Water     29     29      29         29  29        29   29      29      29

         Speed Total Total2 Type 1 Type 2
Bug         47    47     47    NaN     35
Dark        13    13     13    NaN      8
Dragon      19    19     19    NaN     15
Electric    25    25     25    NaN      4
Fairy        7     7      7    NaN      1
Fighting    17    17     17    NaN      5
Fire        33    33     33    NaN     14
Ghost       14    14     14    NaN      7
Grass       42    42     42    NaN     25
Ground      19    19     19    NaN      8
Ice         13    13     13    NaN      9
Normal      71    71     71    NaN     25
Poison      20    20     20    NaN      7
Psychic     32    32     32    NaN     11
Rock        28    28     28    NaN     22
Steel       17    17     17    NaN     15
Water       83    83     83    NaN     40
Bug         22    22     22    NaN     17
Dark        18    18     18    NaN     13
Dragon      13    13     13    NaN      6
Electric    19    19     19    NaN     13
Fairy       10    10     10    NaN      1
Fighting    10    10     10    NaN      2
Fire        19    19     19    NaN     10
Flying       4     4      4    NaN      2
Ghost       18    18     18    NaN     15
Grass       28    28     28    NaN     12
Ground      13    13     13    NaN     11
Ice         11    11     11    NaN      2
Normal      27    27     27    NaN     12
Poison       8     8      8    NaN      6
Psychic     25    25     25    NaN      8
Rock        16    16     16    NaN     13
Steel       10    10     10    NaN      7
Water       29    29     29    NaN     13

C:\Users\balav\AppData\Local\Programs\Python\Python37-32\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """